<!doctype html>
<html class="no-js" lang="zxx">
    

<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Meika - Creative Agency HTML Template </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/favicon.ico">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/css/animate.min.css">
        <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/assets/fontawesome/css/all.min.css">
        
        <link rel="stylesheet" href="/static/assets/css/dripicons.css">
        <link rel="stylesheet" href="/static/assets/css/slick.css">
        <link rel="stylesheet" href="/static/assets/css/meanmenu.css">
        <link rel="stylesheet" href="/static/assets/css/default.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">
        <link rel="stylesheet" href="/static/assets/css/responsive.css">
    </head>
    <body class="dark">
        <!-- header -->
        <header class="header-area header">  
			  <div id="header-sticky" class="menu-area pl-100 pr-100">
                <div class="container-fluid">
                    <div class="second-menu">
                        <div class="row align-items-center">
                             <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="{% url 'index' %}"><img src="/static/assets/img/logo/logo.png" alt="logo"></a>
                                </div>
                            </div>
                           <div class="col-xl-4 col-lg-4 col-md-6">
                              
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                          <ul>
                                            <li class="has-sub">
                                                <a href="{% url 'index' %}">Home</a>
                                                <ul>													
													<li><a href="{% url 'index' %}">Home Page 01</a></li>
													<li><a href="index-2.html">Home Page 02</a></li>													
													<li><a href="index-3.html">Home Page 03</a></li>													
												</ul>
                                            </li>
                                            <li><a href="{% url 'about' %}">About Us</a></li>   
                                            <li class="has-sub"><a href="#">Pages</a>
												<ul>     
                                                    <li><a href="{% url 'service' %}">Services</a></li>
                                                    <li> <a href="single-{% url 'service' %}">Services Details</a></li>
                                                     <li><a href="{% url 'projects' %}">Project</a></li>
                                                    <li><a href="{% url 'team' %}">Our Team</a></li>
                                                    <li><a href="{% url 'singleteam' %}">Team Details</a></li>  
                                                    <li><a href="pricing.html">Pricing</a></li>
                                                      <li><a href="faq.html">Faq</a></li>
                                                    <li><a href="shop.html">Shop</a></li>
                                                    <li><a href="shop-details.html">Shop Details</a></li>                                                   
                                                  </ul>
											</li>
                                            <li class="has-sub"> 
                                                <a href="{% url 'blog' %}">Blog</a>
                                                <ul>
                                                    <li><a href="{% url 'blog' %}">Blog</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                </ul>
                                            </li>


                                            <li><a href="{% url 'contact' %}">Contact</a></li>                                               
                                        </ul>
                                    </nav>
                                </div>
                            </div>   
                             <div class="col-xl-6 col-lg-6 text-right d-none d-lg-block text-right text-xl-right">
                                 <div class="header-cta">
                                    <ul>
                                       <li>
                                          <div class="call-box">
                                              <div class="sc">
                                                 <a href="#">Fb.</a>
                                                 <a href="#">Ln.</a><br>
                                                 <a href="#">Tw.</a>
                                                 <a href="#">Be.</a>
                                              </div>                                            
                                          </div>
                                       </li>
                                       <li>
                                          <div class="call-box">                                            
                                             <div class="text">
                                               Best Solution ForBusiness<br> Consulting Service                           
                                             </div>
                                          </div>
                                       </li>
                                        <li>
                                          <div class="call-box">                                            
                                             <div class="text">
                                             P: +99 88 55 666 000<br> E: Info.Meika@Gmail.com             
                                             </div>
                                          </div>
                                       </li>
                                        <li>
                                            <div class="call-box">                          
                                            <a href="#" class="menu-tigger"><img src="/static/assets/img/bg/toggle-menu.png" alt="logo"></a>
                                            </div>
                                        </li>
                                      
                                    </ul>
                                 </div>                              
                            </div>
                            
                                <div class="col-12">
                                    <div class="mobile-menu"></div>
                                </div>
                        </div>                   
                        </div>                   
                </div>
            </div>
        </header>
        <!-- header-end -->
       <!-- offcanvas-area -->
          <div class="offcanvas-menu">
             <span class="menu-close"><i class="fas fa-times"></i></span>
             <form role="search" method="get" id="searchform"   class="searchform" action="http://wordpress.zcube.in/xconsulta/">
                <input type="text" name="s" id="search" placeholder="Search"/>
                <button><i class="fa fa-search"></i></button>
             </form>
             <div id="cssmenu3" class="menu-one-page-menu-container">
                <ul  class="menu">
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'index' %}">Home</a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'about' %}">About Us</a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="courses.html">Courses</a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="pricing.html">Pricing </a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'team' %}">Teacher</a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'projects' %}">Gallery</a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'blog' %}">Blog</a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
             </div>
             <div id="cssmenu2" class="menu-one-page-menu-container">
                <ul id="menu-one-page-menu-12" class="menu">
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#home"><span>+8 12 3456897</span></a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#howitwork"><span>info@example.com</span></a></li>
                </ul>
             </div>
          </div>
          <div class="offcanvas-overly"></div>
          <!-- offcanvas-end -->
        <!-- main-area -->
        <main>
            
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center" style="background-image:url(img/bg/bdrc-bg.png);">                 
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-center">
                                <div class="breadcrumb-title">
                                    <h2>Blog</h2>    
                                    <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Blog</li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
             <!-- inner-blog -->
            <section class="inner-blog pt-120 pb-120">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="bsingle__post mb-50">
                                <div class="bsingle__post-thumb">
                                    <img src="img/blog/inner_b1.jpg" alt="">
                                </div>
                                <div class="bsingle__content">
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-user"></i>By Zcube</li>
                                            <li><i class="fal fa-calendar-alt"></i>  24th March 2023</li>
                                        </ul>
                                    </div>
                                    <h2><a href="blog-details.html">Lorem ipsum dolor sit amet, consectetur
                                            cing elit, sed do eiusmod tempor.</a></h2>
                                   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                                    <div class="blog__btn">
                                        <a href="#" class="btn">Read More <i class="fa-sharp fa-light fa-arrow-up"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="bsingle__post mb-50">
                                <div class="bsingle__post-thumb video-p">
                                    <img src="/static/assets/img/blog/inner_b2.jpg" alt="">
                                    <a href="https://www.youtube.com/watch?v=vKSA_idPZkc" class="video-i popup-video"><i class="fas fa-play"></i></a>
                                </div>
                                <div class="bsingle__content">
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-user"></i>By Zcube</li>
                                            <li><i class="far fa-comments"></i>35 Comments</li>
                                        </ul>
                                    </div>
                                    <h2><a href="blog-details.html">There are many variations passages of like consectetur lorem ipsum available.</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                                    <div class="blog__btn">
                                        <a href="#" class="btn">Read More <i class="fa-sharp fa-light fa-arrow-up"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="bsingle__post mb-50">
                                <div class="bsingle__post-thumb blog-active">
                                    <div class="slide-post">
                                        <img src="/static/assets/img/blog/inner_b3.jpg" alt="">
                                    </div>
                                    <div class="slide-post">
                                        <img src="/static/assets/img/blog/inner_b2.jpg" alt="">
                                    </div>
                                    <div class="slide-post">
                                        <img src="/static/assets/img/blog/inner_b1.jpg" alt="">
                                    </div>
                                </div>
                                <div class="bsingle__content">
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-user"></i>By Zcube</li>
                                            <li><i class="fal fa-calendar-alt"></i>  24th March 2023</li>
                                        </ul>
                                    </div>
                                    <h2><a href="blog-details.html">I must explain to you how all this mistaken idea of denouncing pleasure.</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                                    <div class="blog__btn">
                                        <a href="#" class="btn">Read More <i class="fa-sharp fa-light fa-arrow-up"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="bsingle__post mb-50">
                                <div class="bsingle__post-thumb embed-responsive embed-responsive-16by9">
                                    <iframe height="300" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/547295505&amp;color=%23ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;show_teaser=true&amp;visual=true"></iframe>
                                </div>
                                <div class="bsingle__content">
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-user"></i>By Zcube</li>
                                            <li><i class="fal fa-calendar-alt"></i>  24th March 2023</li>
                                        </ul>
                                    </div>
                                    <h2><a href="blog-details.html">There are many variations passages of like consectetur lorem ipsum available.</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                                    <div class="blog__btn">
                                        <a href="#" class="btn">Read More <i class="fa-sharp fa-light fa-arrow-up"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="bsingle__post mb-50">
                                <div class="bsingle__content">
                                    <div class="meta-info">
                                        <ul>
                                            <li><i class="fal fa-user"></i>By Zcube</li>
                                            <li><i class="fal fa-calendar-alt"></i>  24th March 2023</li>
                                        </ul>
                                    </div>
                                    <h2><a href="blog-details.html">On the other hand, we denounce with of righteous indignation and dislike men.</a></h2>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.Duis aute irure dolor in reprehenderit in voluptate velit esse.</p>
                                    <div class="blog__btn">
                                        <a href="#" class="btn">Read More <i class="fa-sharp fa-light fa-arrow-up"></i></a>
                                    </div>
                                </div>
                            </div>
              
                            <div class="pagination-wrap mb-50">
                                <nav>
                                    <ul class="pagination">
                                        <li class="page-item"><a href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                        <li class="page-item active"><a href="#">1</a></li>
                                        <li class="page-item"><a href="#">2</a></li>
                                        <li class="page-item"><a href="#">3</a></li>
                                        <li class="page-item"><a href="#">...</a></li>
                                        <li class="page-item"><a href="#">10</a></li>
                                        <li class="page-item"><a href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                         <div class="col-sm-12 col-md-12 col-lg-4">
                           <aside class="sidebar-widget">
                              <section id="search-3" class="widget widget_search">
                                 <h2 class="widget-title">Search</h2>
                                 <form role="search" method="get" class="search-form" action="http://wordpress.zcube.in/finco/">
                                    <label>
                                    <span class="screen-reader-text">Search for:</span>
                                    <input type="search" class="search-field" placeholder="Search &hellip;" value="" name="s" />
                                    </label>
                                    <input type="submit" class="search-submit" value="Search" />
                                 </form>
                              </section>
                              <section id="custom_html-5" class="widget_text widget widget_custom_html">
                                 <h2 class="widget-title">Follow Us</h2>
                                 <div class="textwidget custom-html-widget">
                                    <div class="widget-social">
                                       <a href="#"><i class="fab fa-twitter"></i></a>
                                       <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                       <a href="#"><i class="fab fa-facebook-f"></i></a>
                                       <a href="#"><i class="fab fa-linkedin-in"></i></a>
                                       <a href="#"><i class="fab fa-wordpress"></i></a>
                                    </div>
                                 </div>
                              </section>
                              <section id="categories-1" class="widget widget_categories">
                                 <h2 class="widget-title">Categories</h2>
                                 <ul>
                                    <li class="cat-item cat-item-16"><a href="#">Branding</a> (4)</li>
                                    <li class="cat-item cat-item-23"><a href="#">Corporat</a> (3)</li>
                                    <li class="cat-item cat-item-18"><a href="#">Design</a> (3)</li>
                                    <li class="cat-item cat-item-22"><a href="#">Gallery</a> (3)</li>
                                 </ul>
                              </section>
                              <section id="recent-posts-4" class="widget widget_recent_entries">
                                 <h2 class="widget-title">Recent Posts</h2>
                                 <ul>
                                    <li>
                                       <a href="#">User Experience Psychology And Performance Smshing</a>
                                       <span class="post-date">August 19, 2020</span>
                                    </li>
                                    <li>
                                       <a href="#">Monthly Web Development Up Cost Of JavaScript</a>
                                       <span class="post-date">August 19, 2020</span>
                                    </li>
                                    <li>
                                       <a href="#">There are many variation passages of like available.</a>
                                       <span class="post-date">August 19, 2020</span>
                                    </li>
                                 </ul>
                              </section>
                              <section id="tag_cloud-1" class="widget widget_tag_cloud">
                                 <h2 class="widget-title">Tag</h2>
                                 <div class="tagcloud">
                                     <a href="#" class="tag-cloud-link tag-link-28 tag-link-position-1" style="font-size: 8pt;" aria-label="app (1 item)">app</a>
                                    <a href="#" class="tag-cloud-link tag-link-17 tag-link-position-2" style="font-size: 8pt;" aria-label="Branding (1 item)">Branding</a>
                                    <a href="#" class="tag-cloud-link tag-link-20 tag-link-position-3" style="font-size: 8pt;" aria-label="corporat (1 item)">corporat</a>
                                    <a href="#" class="tag-cloud-link tag-link-24 tag-link-position-4" style="font-size: 16.4pt;" aria-label="Design (2 items)">Design</a>
                                    <a href="#" class="tag-cloud-link tag-link-25 tag-link-position-5" style="font-size: 22pt;" aria-label="gallery (3 items)">gallery</a>
                                    <a href="#" class="tag-cloud-link tag-link-26 tag-link-position-6" style="font-size: 8pt;" aria-label="video (1 item)">video</a>
                                    <a href="#" class="tag-cloud-link tag-link-29 tag-link-position-7" style="font-size: 16.4pt;" aria-label="web design (2 items)">web design</a>
                                 </div>
                              </section>
                                <section id="tag_cloud-1" class="widget widget_tag_cloud">
                                 <div class="blog-banner">
                                  <img src="/static/assets/img/blog/blog-banner.png" alt="banner">
                                </div>
                              </section>
                           </aside>
                        </div>
                    </div>
                </div>
            </section>
            <!-- inner-blog-end -->
        </main>
        <!-- main-area-end -->
          <!-- footer -->
        <footer class="footer-bg footer-p">
            <div class="footer-top pt-120 pb-90  p-relative" style="background-color: #161616;background-image:url(img/bg/footer_bg.png); background-repeat: no-repeat; background-size: cover;">               
                <div class="container">
                    <div class="row justify-content-between">
                        
                          <div class="col-xl-5 col-lg-5 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title mb-100">
                                   <img src="/static/assets/img/logo/logo.png" alt="img">
                                </div>
                                 <div class="footer-subricbe p-relative" data-animation="fadeInDown" data-delay=".4s" >
                                     <h6>Get Contact</h6>
                                    <form action="https://htmldemo.zcubethemes.com/meika/news-mail.php" method="post" class="contact-form ">
                                    <button class="btn"><img src="img/bg/sbtn-icon.png" alt="img"></button>
                                     <input type="text" id="email2" name="email2"  class="header-input" placeholder="Info.meika@gmail.com" required>
                                    
                                    </form>
                                </div>
                                <div class="info">
                                    <ul>
                                        <li><span class="red">P:</span> +99 88 55 666 000</li>
                                        <li><span class="red">L:</span> 13 Road Mirpur Street, 600New York, USA</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
						<div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Follow Me</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>                                        
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Instagram</a></li>
                                        <li><a href="#">LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Top Links</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="faq.html">About</a></li>
                                        <li><a href="#">Careers</a></li>
                                        <li><a href="#">Terms of service</a></li>
                                        <li><a href="#">We’re Hiring</a></li>
                                        <li><a href="#">Cookie Policy</a></li>
                                        <li><a href="#"> News & Media</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                      <div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Explore</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="faq.html"> Contact Us</a></li>
                                        <li><a href="#">Team Member</a></li>
                                        <li><a href="#">Latest Portfolio</a></li>
                                        <li><a href="#">Shop Page</a></li>
                                        <li><a href="#">News & Media</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                      
                      
                        
                    </div>
                </div>
             
            </div>
            
            <div class="copyright-wrap">              
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">                         
                              Copyright © 2023 <a href="#">Zucbedesign</a>. All rights reserved.          
                        </div>
                          <div class="col-lg-6 text-right">      
                               <img src="img/bg/cp-logo.png" alt="img">
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->
		<!-- JS here -->
        <script src="/static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/static/assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/static/assets/js/popper.min.js"></script>
        <script src="/static/assets/js/bootstrap.min.js"></script>
        <script src="/static/assets/js/slick.min.js"></script>
        <script src="/static/assets/s/ajax-form.js"></script>
        <script src="/static/assets/js/paroller.js"></script>
        <script src="/static/assets/js/wow.min.js"></script>
        <script src="/static/assets/js/js_isotope.pkgd.min.js"></script>
        <script src="/static/assets/js/imagesloaded.min.js"></script>
        <script src="/static/assets/js/parallax.min.js"></script>
        <script src="/static/assets/js/jquery.waypoints.min.js"></script>
        <script src="/static/assets/js/jquery.counterup.min.js"></script>
        <script src="/static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/static/assets/js/jquery.meanmenu.min.js"></script>
        <script src="/static/assets/js/parallax-scroll.js"></script>
        <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/assets/js/element-in-view.js"></script>
        <script src="/static/assets/js/main.js"></script>
    </body>


</html>