<!doctype html>
<html class="no-js" lang="zxx">
    

<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Striding Ventures Limited</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/logo/backgroundless.png">
        <!-- Place favicon.ico in the root directory -->

		<!-- CSS here -->
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/css/animate.min.css">
        <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/assets/fontawesome/css/all.min.css">
        
        <link rel="stylesheet" href="/static/assets/css/dripicons.css">
        <link rel="stylesheet" href="/static/assets/css/slick.css">
        <link rel="stylesheet" href="/static/assets/css/meanmenu.css">
        <link rel="stylesheet" href="/static/assets/css/default.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">
        <link rel="stylesheet" href="/static/assets/css/responsive.css">
    </head>
     <body class="dark">
        <!-- header -->
        <header class="header-area header">  
			  <div id="header-sticky" class="menu-area pl-100 pr-100">
                <div class="container-fluid">
                    <div class="second-menu">
                        <div class="row align-items-center">
                             <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="{% url 'index' %}"><img width="100" src="/static/assets/img/logo/no-bg-logo.png" alt="logo"></a>
                                </div>
                            </div>
                           <div class="col-xl-4 col-lg-4 col-md-6">
                              
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                          <ul>
                                            <li class="has-sub">
                                                <a href="{% url 'index' %}">Home</a>
                                            </li>
                                            <li><a href="{% url 'about' %}">About Us</a></li>   
                                             <li><a href="{% url 'service' %}">Marketing Solutions</a></li>
                                                 <li><a href="{% url 'contact' %}">Contact</a></li>                                               
                                        </ul>
                                    </nav>
                                </div>
                            </div>   
                             <div class="col-xl-6 col-lg-6 text-right d-none d-lg-block text-right text-xl-right">
                                 <div class="header-cta">
                                    <ul>
                                       
                                        <li>
                                          <div class="call-box">                                            
                                             <div class="text">
                                             Phone: +254 700 892 927<br> Email: Info.@stridingventures.com             
                                             </div>
                                          </div>
                                       </li>
                                        <li>
                                            <div class="call-box">                          
                                            <a href="#" class="menu-tigger"><img src="/static/assets/img/bg/toggle-menu.png" alt="logo"></a>
                                            </div>
                                        </li>
                                      
                                    </ul>
                                 </div>                              
                            </div>
                            
                                <div class="col-12">
                                    <div class="mobile-menu"></div>
                                </div>
                        </div>                   
                        </div>                   
                </div>
            </div>
        </header>
        <!-- header-end -->
       <!-- offcanvas-area -->
          <div class="offcanvas-menu">
             <span class="menu-close"><i class="fas fa-times"></i></span>
             <form role="search" method="get" id="searchform"   class="searchform" action="http://wordpress.zcube.in/xconsulta/">
                <input type="text" name="s" id="search" placeholder="Search"/>
                <button><i class="fa fa-search"></i></button>
             </form>
             <div id="cssmenu3" class="menu-one-page-menu-container">
                <ul  class="menu">
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'index' %}">Home</a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'about' %}">About Us</a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'contact' %}">Contact</a></li>
                </ul>
             </div>
             <div id="cssmenu2" class="menu-one-page-menu-container">
                <ul id="menu-one-page-menu-12" class="menu">
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#home"><span>+254 700 892 927</span></a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#howitwork"><span>info@stridingventures.com</span></a></li>
                </ul>
             </div>
          </div>
          <div class="offcanvas-overly"></div>
          <!-- offcanvas-end -->
        <!-- main-area -->
        <main>
            
            <!-- breadcrumb-area -->
            <section class="breadcrumb-area d-flex align-items-center p-relative fix" style="background-image:url(/static/assets/img/bg/)">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-xl-12 col-lg-12">
                            <div class="breadcrumb-wrap text-center">
                                <div class="breadcrumb-title">
                                    <h2>Contact Us</h2>    
                                    <div class="breadcrumb-wrap">
                              
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">About Us</li>
                                    </ol>
                                </nav>
                            </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </section>
            <!-- breadcrumb-area-end -->
            
              <!-- map-area-end -->
            <div class="map pt-120 fix">
                <div class="container">
                    
                    <div class="row">
                        <div class="col-lg-12">
                            <img src="/static/assets/img/bg/map.png" alt="logo">
                        </div>
                    </div>
                </div>
            </div>

		     <!-- contact-area -->
            <section id="contact" class="contact-area after-none contact-bg pt-120 pb-120 p-relative">
                
                <div class="container">
             
					<div class="row">
                        <div class="col-lg-8">
                            <div class="contact-bg02">
                            <div class="section-title mb-50">
                                <h2>
                                  Get in touch with Us
                                </h2>
                               
                            </div>
                             
						<form action="https://htmldemo.zcubethemes.com/meika/mail.php" method="post" class="contact-form mt-30">
							<div class="row">
                            <div class="col-lg-6">
                                <div class="contact-field p-relative c-name mb-30">                                    
                                    <input type="text" id="firstn" name="firstn" placeholder="First Name" required>
                                </div>                               
                            </div>
							<div class="col-lg-6">                               
                                <div class="contact-field p-relative c-email mb-20">                                    
                                    <input type="text" id="lastn" name="lastn" placeholder="Last Name" required>
                                </div>                                
                            </div>
							<div class="col-lg-6">                               
                                <div class="contact-field p-relative c-subject mb-30">                                   
                                    <input type="text" id="email" name="email" placeholder="Eamil" required>
                                </div>
                            </div>		
                            <div class="col-lg-6">                               
                                <div class="contact-field p-relative c-subject mb-30">                                   
                                    <input type="text" id="phone" name="phone" placeholder="Phone No." required>
                                </div>
                            </div>	
                            <div class="col-lg-12">                               
                                <div class="contact-field p-relative c-subject mb-30">                                   
                                    <input type="text" id="subject" name="subject" placeholder="Subject" required>
                                </div>
                            </div>	
                             
                            <div class="col-lg-12">
                                <div class="contact-field p-relative c-message mb-30">                                  
                                    <textarea name="message" id="message" cols="30" rows="10" placeholder="Write comments"></textarea>
                                </div>
                                                     
                            </div>
                            <div class="col-lg-12">
                                <p> * Call us 24/7  or fill out the form below to receive a free.</p>
                            </div>
                            <div class="col-lg-12">
                               <div class="slider-btn  text-center">                                          
                                    <button class="btn ss-btn active" data-animation="fadeInRight" data-delay=".8s">Send Message <i class="fa-sharp fa-light fa-arrow-up"></i></button>				
                                </div>        
                            </div>
                            </div>
                        
                    </form>
                            
                            </div>
                        
						</div>
                        <div class="col-lg-4">
                         <div class="contact-info">
                             <ul>
                                <li>
                                    <div class="single-cta">
                                        <div class="f-cta-icon">
                                           <img src="/static/assets/img/icon/c-icon1.png" alt="logo">
                                        </div>
                                        <div class="text">
                                             <p>Contact Phone</p>
                                            <h5>+254 700 892 927</h5>                                           
                                        </div>
                                    </div> 
                                </li>
                                <li>
                                      <div class="single-cta">
                                        <div class="f-cta-icon">
                                           <img src="/static/assets/img/icon/c-icon2.png" alt="logo">
                                        </div>
                                        <div class="text">
                                             <p>Contact Location</p>
                                            <h5>Kingdom Business Network, Kabarnet Road, Off Ngong Rd.</h5>                                           
                                        </div>
                                    </div> 
                                 </li>
                                  <li>
                                     <div class="single-cta">
                                        <div class="f-cta-icon">
                                           <img src="/static/assets/img/icon/c-icon3.png" alt="logo">
                                        </div>
                                        <div class="text">
                                             <p>Contact Phone</p>
                                            <h5>info.@stridingventures.com</h5>                                           
                                        </div>
                                    </div> 
                                 </li>
                                 <li>
                                    <div class="single-cta">
                                        <div class="f-cta-icon">
                                           <img src="/static/assets/img/icon/c-icon4.png" alt="logo">
                                        </div>
                                        <div class="text">
                                             <p>Office Time</p>
                                            <h5>Office open 0900hrs - 1700hrs</h5>                                           
                                        </div>
                                    </div> 
                                 </li>
                                 <li>
                                     <div class="footer-social">                                    
                                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                                        <a href="#"><i class="fab fa-instagram"></i></a>
                                        <a href="#"><i class="fab fa-twitter"></i></a>
                                        <a href="#"><i class="fab fa-pinterest"></i></a>
                                    </div>
                                 </li>
                             </ul>
                            </div>
                    </div>
                    
					</div>
                    
                </div>
               
            </section>
            <!-- contact-area-end -->
             <!-- brand-area -->
             <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12">
                        <div class="breadcrumb-wrap text-center">
                            <div class="breadcrumb-title">
                                <h2>Our Clients</h2>    
                                <div class="breadcrumb-wrap">
                        </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
                <div class="brand-area wow fadeInDown animated" data-animation="fadeInDown" data-delay=".4s">
                    <div class="container">
                        <div class="row brand-active">
                            <div class="col-xl-2">
                                <div class="single-brand">
                                    <img width="450" src="/static/assets/img/brand/betika.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="250" src="/static/assets/img/brand/South-African-Airlines.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="250" src="/static/assets/img/brand/wines of SA.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                      <img width="200" src="/static/assets/img/brand/ogilvy.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="150" src="/static/assets/img/brand/winenjiru.jpeg" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="300" src="/static/assets/img/brand/tyremasters.jpeg" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="150" src="/static/assets/img/brand/human capital synergies.jpeg" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="150" src="/static/assets/img/brand/BNI.jpeg" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="200" src="/static/assets/img/brand/ashok leyland.png" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- brand-area-end -->        
             
        </main>
        <!-- main-area-end -->
           <!-- footer -->
        <footer class="footer-bg footer-p">
            <div class="footer-top pt-120 pb-90  p-relative" style="background-color: #161616;background-image:url(/static/assets/mg/bg/footer_bg.png); background-repeat: no-repeat; background-size: cover;">               
                <div class="container">
                    <div class="row justify-content-between">
                        
                          <div class="col-xl-5 col-lg-5 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title mb-100">
                                   <img width="200" src="/static/assets/img/logo/no-bg-logo.png" alt="img">
                                </div>
                                 <div class="footer-subricbe p-relative" data-animation="fadeInDown" data-delay=".4s" >
                                     <h6>Get Contact</h6>
                                    <form action="https://htmldemo.zcubethemes.com/meika/news-mail.php" method="post" class="contact-form ">
                                    <button class="btn"><img src="/static/assets/img/bg/sbtn-icon.png" alt="img"></button>
                                     <input type="text" id="email2" name="email2"  class="header-input" placeholder="Info.meika@gmail.com" required>
                                    
                                    </form>
                                </div>
                                <div class="info">
                                    <ul>
                                        <li><span class="red">Phone:</span> +254 700 892 92</li>
                                        <li><span class="red">Location:</span> Kingdom Business Network, Kabarnet Road, Off Ngong Rd.7</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
						<div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Follow Us</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>                                        
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Instagram</a></li>
                                        <li><a href="#">LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Top Links</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="faq.html">About</a></li>
                                        <li><a href="#">Marketing Solutions</a></li>
                                        <li><a href="#">Terms of service</a></li>
                                        <li><a href="#">Cookie Policy</a></li>
                                        <li><a href="#"> Contact Us</a></li>
                                        <li><a href="#">Team Member</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>   
                    </div>
                </div>
             
            </div>
            
            <div class="copyright-wrap">              
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">                         
                              Copyright © 2023 <a href="#">Striding Ventures Marketing</a>. All rights reserved.          
                        </div>
                          <div class="col-lg-6 text-right">      
                               <img src="/static/assets/img/bg/cp-logo.png" alt="img">
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->
		<!-- JS here -->
        <script src="/static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/static/assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/static/assets/js/popper.min.js"></script>
        <script src="/static/assets/js/bootstrap.min.js"></script>
        <script src="/static/assets/js/slick.min.js"></script>
        <script src="/static/assets/js/ajax-form.js"></script>
        <script src="/static/assets/js/paroller.js"></script>
        <script src="/static/assets/js/wow.min.js"></script>
        <script src="/static/assets/js/js_isotope.pkgd.min.js"></script>
        <script src="/static/assets/js/imagesloaded.min.js"></script>
        <script src="/static/assets/js/parallax.min.js"></script>
        <script src="/static/assets/js/jquery.waypoints.min.js"></script>
        <script src="/static/assets/js/jquery.counterup.min.js"></script>
        <script src="/static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/static/assets/js/jquery.meanmenu.min.js"></script>
        <script src="/static/assets/js/parallax-scroll.js"></script>
        <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/assets/js/element-in-view.js"></script>
        <script src="/static/assets/js/main.js"></script>
    </body>

</html>