<!doctype html>
<html class="no-js" lang="zxx">
    

<head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Striding Ventures Marketing </title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="shortcut icon" type="image/x-icon" href="/static/assets/img/logo/backgroundless.png">
       

		<!-- CSS here -->
        <link rel="stylesheet" href="/static/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/assets/css/animate.min.css">
        <link rel="stylesheet" href="/static/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/static/assets/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="/static/assets/css/dripicons.css">
        <link rel="stylesheet" href="/static/assets/css/slick.css">
        <link rel="stylesheet" href="/static/assets/css/meanmenu.css">
        <link rel="stylesheet" href="/static/assets/css/default.css">
        <link rel="stylesheet" href="/static/assets/css/style.css">
        <link rel="stylesheet" href="/static/assets/css/responsive.css">
    </head>
    <body class="dark">
       <!-- header -->
        <header class="header-area header">  
			  <div id="header-sticky" class="menu-area pl-100 pr-100">
                <div class="container-fluid">
                    <div class="second-menu">
                        <div class="row align-items-center">
                             <div class="col-xl-2 col-lg-2">
                                <div class="logo">
                                    <a href="{% url 'index' %}"><img  width="100"  src="/static/assets/img/logo/Bgupdated.png" alt="logo"></a>
                                </div>
                            </div>
                           <div class="col-xl-4 col-lg-4 col-md-6">
                              
                                <div class="main-menu">
                                    <nav id="mobile-menu">
                                          <ul>
                                            <li class="has-sub">
                                                <a href="{% url 'index' %}">Home</a>
                                                
                                            </li>
                                            <li><a href="{% url 'about' %}">About Us</a></li>   
                                            <li><a href="{% url 'service' %}">Marketing Solutions</a></li>
                                            <li><a href="{% url 'contact' %}">Contact</a></li>                                               
                                        </ul>
                                    </nav>
                                </div>
                            </div>   
                             <div class="col-xl-6 col-lg-6 text-right d-none d-lg-block text-right text-xl-right">
                                 <div class="header-cta">
                                    <ul>
                                        <li>
                                          <div class="call-box">                                            
                                             <div class="text">
                                             Phone: +254 700 892 927<br> Email: Info@stridingventures.com             
                                             </div>
                                          </div>
                                       </li>
                                        <li>
                                            <div class="call-box">                          
                                            <a href="#" class="menu-tigger"><img src="/static/assets/img/bg/toggle-menu.png" alt="logo"></a>
                                            </div>
                                        </li>
                                      
                                    </ul>
                                 </div>                              
                            </div>
                            
                                <div class="col-12">
                                    <div class="mobile-menu"></div>
                                </div>
                        </div>                   
                        </div>                   
                </div>
            </div>
        </header>
        <!-- header-end -->
       <!-- offcanvas-area -->
          <div class="offcanvas-menu">
             <span class="menu-close"><i class="fas fa-times"></i></span>
             <form role="search" method="get" id="searchform"   class="searchform" action="#">
                <input type="text" name="s" id="search" placeholder="Search"/>
                <button><i class="fa fa-search"></i></button>
             </form>
             <div id="cssmenu3" class="menu-one-page-menu-container">
                <ul  class="menu">
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'index' %}">Home</a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'about' %}">About Us</a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'service' %}">Marketing Solutions</a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{% url 'contact' %}">Contact Us</a></li>
                </ul>
             </div>
             <div id="cssmenu2" class="menu-one-page-menu-container">
                <ul id="menu-one-page-menu-12" class="menu">
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#home"><span>+254 700 892 927</span></a></li>
                   <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="#"><span>info@stridingventures.com</span></a></li>
                </ul>
             </div>
          </div>
          <div class="offcanvas-overly"></div>
          <!-- offcanvas-end -->
        <!-- main-area -->
        <main>
           <!-- slider-area -->
            <section id="parallax" class="slider-area fix p-relative">    
                <!-- <div class="slider-shape ss-one layer" data-depth="0.10"><img src="/static/assets/img/shape/slider_shape01.png" alt="shape"></div>
                <div class="slider-shape ss-two layer" data-depth="0.30"><img src="/static/assets/img/shape/" alt=""></div>
                <div class="slider-shape ss-three layer" data-depth="0.30"><img src="/static/assets/img/shape/slider_shape03.png" alt="shape"></div>
                <div class="slider-shape ss-four layer" data-depth="0.30"><img src="/static/assets/img/shape/" alt=""></div>
                <div class="slider-shape ss-five layer" data-depth="0.30"><img src="/static/assets/img/shape/slider_shape06.png" alt="shape"></div>
                <div class="slider-shape ss-six layer" data-depth="0.30"><img src="/static/assets/img/shape/slider_shape06.png" alt="shape"></div> -->
                <div class="slider-active-two" style="background-image: url(/static/assets/img/slider/line-bg.png); background-size: cover;">                       
				
                    <div class="single-slider slider-bg d-flex" style="background-image: url(/static/assets/img/slider/back-ground1.png); background-size: cover;">   
                        <div class="container">      
            
                           <div class="row mt-200">                              
                                <div class="col-lg-7 col-md-12">
                                    <div class="slider-content s-slider-content">
                                         <h2 data-animation="fadeInUp" data-delay=".4s">Marketing without borders</h2>
                                         <h4 data-animation="fadeInDown" data-delay=".4s">Amplify your business with our data-centric, performance-driven marketing solutions.</h4>
                                           
                                </div>
                                <div class="col-lg-5 col-md-12 p-relative">
                                </div>
                            </div>
                        </div>
                    </div>
                 
                    </div>
                    
               
            </section>
            <!-- slider-area-end -->
              <!-- brand-area -->
              <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-12 col-lg-12">
                        <div class="breadcrumb-wrap text-center">
                            <div class="breadcrumb-title">
                                <h2>Our Clients</h2>    
                                <div class="breadcrumb-wrap">
                        </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
                <div class="brand-area pt-120 wow fadeInDown animated" data-animation="fadeInDown" data-delay=".2s">
                    <div class="container">
                        <div class="row brand-active">
                            <div class="col-xl-2">
                                <div class="single-brand">
                                    <img width="450" src="/static/assets/img/brand/betika.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="250" src="/static/assets/img/brand/South-African-Airlines.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="250" src="/static/assets/img/brand/wines of SA.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                      <img width="200" src="/static/assets/img/brand/ogilvy.png" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="150" src="/static/assets/img/brand/winenjiru.jpeg" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="300" src="/static/assets/img/brand/tyremasters.jpeg" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="150" src="/static/assets/img/brand/human capital synergies.jpeg" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="150" src="/static/assets/img/brand/BNI.jpeg" alt="img">
                                </div>
                            </div>
                            <div class="col-xl-2">
                                <div class="single-brand">
                                     <img width="200" src="/static/assets/img/brand/ashok leyland.png" alt="img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- brand-area-end -->        
            <!-- services-three-area -->
            <section id="services" class="services-area services-bg  p-relative fix pt-120 pb-90">  
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-9">
                                <div class="section-title p-relative text-center mb-50 wow fadeInLeft  animated" data-animation="fadeInLeft" data-delay=".4s">
                                 <h5><span class="line"> <img src="/static/assets/img/bg/.png" alt=""></span></h5>
                                <h2>
                                    Our Solutions
                                </h2>
                                <p>Data-driven, customer-centric marketing service.</p>
                            </div>
                            </div>
                           
                        </div>
                    <div class="row services-active">
                        <div class="col-lg-4 col-md-6">
                           <div class="s-single-services mb-30 wow fadeInUp animated" data-animation="fadeInDown animated" data-delay=".2s">
                            <div class="services-icon">
                               <img src="/static/assets/img/icon/sr-icon1.png" alt="icon"/>
                                <img src="/static/assets/img/icon/sr-icon1-hover.png" alt="img" class="hover">
                            </div>
                            <div class="second-services-content">
                                <h5><a href="{% url 'service' %}">Paid search marketing</a></h5>
                                <p>Craft campaigns - built just for your business - to ensure real and quantifiable ROI.</p>
                                <a class="btn" href="{% url 'service' %}">Read More <i class="fa-sharp fa-light fa-arrow-up"></i></a>
                            </div>
                               <div class="sr-h-bg">
                               <img src="/static/assets/img/bg/sr-h-bg.png" alt="icon"/>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="s-single-services mb-30 wow fadeInUp animated" data-animation="fadeInDown animated" data-delay=".2s">
                            <div class="services-icon">
                               <img src="/static/assets/img/icon/sr-icon2.png" alt="icon"/>
                                <img src="/static/assets/img/icon/sr-icon2-hover.png" alt="img" class="hover">
                            </div>
                            <div class="second-services-content">
                                <h5><a href="{% url 'service' %}">Search engine optimization</a></h5>
                               <p>Maintain your best spot on the search results page, so you can find new customers and re-engage loyal ones.</p>
                                <a class="btn" href="{% url 'service' %}">Read More <i class="fa-sharp fa-light fa-arrow-up"></i></a>
                            </div>
                               <div class="sr-h-bg">
                               <img src="/static/assets/img/bg/sr-h-bg.png" alt="icon"/>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="s-single-services mb-30 wow fadeInUp animated" data-animation="fadeInDown animated" data-delay=".2s">
                            <div class="services-icon">
                               <img src="/static/assets/img/icon/sr-icon3.png" alt="icon"/>
                                <img src="/static/assets/img/icon/sr-icon3-hover.png" alt="img" class="hover">
                            </div>
                            <div class="second-services-content">
                                <h5><a href="{% url 'service' %}">Email marketing</a></h5>
                               <p>When it comes to reaching your target audience, you can't get much closer than direct to their inboxes</p>
                                <a class="btn" href="{% url 'service' %}">Read More <i class="fa-sharp fa-light fa-arrow-up"></i></a>
                            </div>
                               <div class="sr-h-bg">
                               <img src="/static/assets/img/bg/sr-h-bg.png" alt="icon"/>
                            </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                           <div class="s-single-services mb-30 wow fadeInUp animated" data-animation="fadeInDown animated" data-delay=".2s">
                            <div class="services-icon">
                               <img src="/static/assets/img/icon/sr-icon4.png" alt="icon"/>
                                <img src="/static/assets/img/icon/sr-icon4-hover.png" alt="img" class="hover">
                            </div>
                            <div class="second-services-content">
                                <h5><a href="{% url 'service' %}">Conversion rate optimization</a></h5>
                               <p>Craft campaigns - built just for your business - to ensure real and quantifiable ROI.</p>
                                <a class="btn" href="{% url 'service' %}">Read More <i class="fa-sharp fa-light fa-arrow-up"></i></a>
                            </div>
                               <div class="sr-h-bg">
                               <img src="/static/assets/img/bg/sr-h-bg.png" alt="icon"/>
                            </div>
                            </div>
                        </div>        
                        
                </div>
            </section>
           <!-- services-three-area -->
             <!-- about-area -->
            <section id="about" class="about-area about-p pt-120 pb-120 p-relative fix" style="background-image: url(/static/assets/img/bg/about-bg.png); background-size: cover;">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="s-about-img p-relative  wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
                                <img width="500" src="/static/assets/img/features/360_F_128447604_6deYSrg6bgH2F3YaoU0icdhvxNu4ReDN.jpeg" alt="img">                               
                            </div>
                          
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="about-content s-about-content wow fadeInRight  animated" data-animation="fadeInRight" data-delay=".4s">
                                <div class="about-title second-title pb-25">  
                                    <h5></span> About Us</h5>
                                    <h2>We Provide You Best Experience</h2>                                   
                                </div>
                                    <p class="pline">Today more companies are continuously and aggressively increasing 
                                        their visibility strength to their clientele. With the sole purpose of increasing 
                                        their profitability.
                                        </p>
                                     <p class="pline">SVL is an established marketing and events agency that focuses on 
                                        bridging the gap between a company and its customers by creatively 
                                        crafting bespoke solutions that address objectives set at any given time.
                                        </p>
                                     <p class="pline">Since inception we have been able to offer effective, innovative and 
                                        efficient solutions to our esteemed customers.
                                         </p>
                                   <div class="about-content2">
                                    <div class="row">
                                    <div class="col-md-12">
                                     <ul class="green2">                                              
                                        <li>
                                            <div class="abcontent">
                                                <div class="ano"><span>01</span></div> 
                                            <div class="text"><h3>Our Vision</h3> </div>
                                            </div>
                                            <p>To be the agency of choice in delivering bespoke and world class solutions in marketing and events-driven by <br>innovation creativity and efficiency.</p>
                                         </li>
                                        <li>
                                            <div class="abcontent">
                                                <div class="ano"><span>02</span></div> 
                                                <div class="text"><h3>Our Mission</h3></div>
                                            </div>
                                              <p>To exceed our clients expectation by effectively, efficiently and creatively deliver agency solutions that meet set objectives.</p>
                                         </li>                                                
                                     </ul>
                                    </div>
                                    </div>
                                </div>
                                    <div class="row align-items-center mt-20">
                                    <div class="col-lg-12"> 
                                        <div class="slider-btn">                                          
                                            <a href="{% url 'about' %}" class="btn ss-btn mr-15" data-animation="fadeInRight" data-delay=".8s">About More <i class="fa-sharp fa-light fa-arrow-up"></i></a>	
                                           
                                        </div>
                                    </div>    
  
                                </div>
                                
                                   
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- about-area-end -->           
             
             
           <!-- scrollbox-area       
            <div class="scrollbox2 mb-80 fix">
               <div class="scrollbox scrollbox--secondary scrollbox--reverse">
                 <div class="scrollbox__item"><i class="fa-regular fa-star-of-life"></i> Paid Search Marketing</div>
                <div class="scrollbox__item"><span class="red"><i class="fa-regular fa-star-of-life"></i> SEO</span></div>
                   <div class="scrollbox__item"><i class="fa-regular fa-star-of-life"></i> <span class="garry"> Email Marketing</span></div>
                   <div class="scrollbox__item"><i class="fa-regular fa-star-of-life"></i> Events Solutions</div>
                <div class="scrollbox__item"><i class="fa-regular fa-star-of-life"></i> <span class="garry2">Conversion Rate Optimization</span></div>
                   <div class="scrollbox__item"><i class="fa-regular fa-star-of-life"></i>  <span class="garry3">Brand Enhancement Solution</span> </div>
                   <div class="scrollbox__item"><i class="fa-regular fa-star-of-life"></i> Influencer Marketing</div>
                   <div class="scrollbox__item"><span class="red"><i class="fa-regular fa-star-of-life"></i> Social Media Marketing</span></div>
                </div>
         
            </div>
            - scrollbox-area-end -->
            <!-- what-we-do-area -->
            <section id="about" class="about-area about-p pt-120 pb-120 p-relative fix">
                <div class="container">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="s-about-img p-relative  wow fadeInLeft animated" data-animation="fadeInLeft" data-delay=".4s">
                                <img src="/static/assets/img/features/whyus.png" alt="img">
                                
                            </div>
                          
                        </div>
                        <div class="col-lg-6 col-md-12 col-sm-12">
                            <div class="about-content s-about-content pl-30 wow fadeInRight  animated" data-animation="fadeInRight" data-delay=".4s">
                                <div class="about-title second-title pb-25">  
                                    <h2>Why Us</h2>                                   
                                </div>
                                    <p>Together we form a formidable team well seasoned to tackle unique and challenges presented to us by our customers/clients.<br> We have an able team that has been able to draw synergies and leverage on each other strength.</p>
                                   <!-- <div class="skills-content s-about-content">                                
                                         <div class="skills-content s-about-content">
                                            <div class="skills row">
                                                <div class="col-lg-6 skill">         
                                                <div class="skill-name"><strong>Content Strategy 90%</strong></div>
                                                  <div class="skill-bar mb-20">
                                                    <div class="skill-per" id="94"></div>
                                                  </div>
                                                </div>
                                                <div class="col-lg-6 skill">         
                                                  <div class="skill-name"><strong>Content Strategy 70%</strong></div>
                                                  <div class="skill-bar mb-20">
                                                    <div class="skill-per" id="84"></div>
                                                  </div>
                                                </div>                                                             
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row align-items-center mt-20">
                                    <div class="col-lg-12"> 
                                        <div class="slider-btn">                                          
                                            <a href="#" class="btn ss-btn2 mr-15" data-animation="fadeInRight" data-delay=".8s">Discover More <i class="fa-sharp fa-light fa-arrow-up"></i></a>	                                           
                                        </div>
                                    </div>    -->
  
                                </div>
                                
                                   
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- what-we-do-area-end -->
             <!-- team-area -->
            <section id="team" class="team-area fix p-relative pt-120 pb-90">  
                <div class="container">  
                    
                   <div class="row justify-content-center align-items-center">
                            <div class="col-lg-8 col-md-9">
                                <div class="section-title p-relative text-center mb-50 wow fadeInUp  animated" data-animation="fadeInUp" data-delay=".4s">
                                 <h5><span class="line"> <img src="/static/assets/img/bg/" alt=""></span></h5>
                                <h2>
                                  Special Team Member
                                </h2>
                                <p>Meet Striding Ventures revenue revolutionaries.</p>
                            </div>
                            </div>
                           
                        </div>
                   <div class="row team-active">                   
                        <div class="col-xl-3 col-lg-3">
                            <div class="singleteam mb-30" >
                                <div class="team-thumb">
                                    <div class="brd">
                                         <img src="/static/assets/img/team/team01.jpg" alt="img">                                        
                                    </div>
                                     <div class="team-info">                                         
                                        <h4><a href="#">Elizabeth Wangari</a></h4>
                                         <p>Managing Director</p>
                                            <div class="team-social">
                                                 <a href="#" class="share-alt"><i class="fal fa-share-alt"></i></a>
                                                <ul>
                                                    
                                                    <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                    <li> <a href="#"><i class="fab fa-twitter"></i></a></li>    
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> 
                                                </ul>       
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                       <div class="col-xl-3 col-lg-3">
                            <div class="singleteam mb-30" >
                                <div class="team-thumb">
                                    <div class="brd">
                                        <img src="/static/assets/img/team/team02.jpg" alt="img">                                        
                                    </div> 
                                    <div class="team-info">                                         
                                        <h4><a href="#">John Mbatia</a></h4>
                                         <p>CEO</p>
                                            <div class="team-social">
                                                 <a href="#" class="share-alt"><i class="fal fa-share-alt"></i></a>
                                                <ul>
                                                    
                                                    <li><a href="#"><i class="fa-brands fa-pinterest-p"></i></a></li>
                                                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                                    <li> <a href="#"><i class="fab fa-twitter"></i></a></li>    
                                                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li> 
                                                </ul>       
                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                       
                    </div>
                   
                </div>
            </section>
            <!-- team-area-end --> 
           
           
        </main>
        <!-- main-area-end -->
           <!-- footer -->
        <footer class="footer-bg footer-p">
            <div class="footer-top pt-120 pb-90  p-relative" style="background-color: #161616;background-image:url(/static/assets/img/bg/footer_bg.png); background-repeat: no-repeat; background-size: cover;">               
                <div class="container">
                    <div class="row justify-content-between">
                        
                          <div class="col-xl-5 col-lg-5 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title mb-100">
                                   <img src="/static/assets/img/logo/Bgupdated.png" alt="img">
                                </div>
                                 <div class="footer-subricbe p-relative" data-animation="fadeInDown" data-delay=".4s" >
                                     <h6>Get Contact</h6>
                                    <form action="https://hmail.php" method="post" class="contact-form ">
                                    <button class="btn"><img src="/static/assets/img/bg/sbtn-icon.png" alt="img"></button>
                                     <input type="text" id="email2" name="email2"  class="header-input" placeholder="Info@stridingventures.com" required>
                                    
                                    </form>
                                </div>
                                <div class="info">
                                    <ul>
                                        <li><span class="red">Phone:</span> +254 700 892 927</li>
                                        <li><span class="red">Location:</span> Kingdom Business Network, Kabarnet Road, Off Ngong Rd.</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
						<div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Follow Us</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>                                        
                                        <li><a href="#">Facebook</a></li>
                                        <li><a href="#">Twitter</a></li>
                                        <li><a href="#">Instagram</a></li>
                                        <li><a href="#">LinkedIn</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="f-widget-title">
                                    <h2>Top Links</h2>
                                </div>
                                <div class="footer-link">
                                    <ul>
                                        <li><a href="{% url 'about' %}">About</a></li>
                                        <li><a href="{% url 'service' %}">Marketing Solutions</a></li>
                                        <li><a href="{% url 'contact' %}">Contact Us</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>  
                      
                      
                      
                        
                    </div>
                </div>
             
            </div>
            
            <div class="copyright-wrap">              
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6">                         
                              Copyright © 2023 <a href="#">Striding Ventures Marketing</a>. All rights reserved.          
                        </div>
                          <div class="col-lg-6 text-right">      
                               <img width="100" src="/static/assets/img/logo/backgroundless.png" alt="img">
                        </div>
                        
                    </div>
                </div>
            </div>
        </footer>
        <!-- footer-end -->
		<!-- JS here -->
        <script src="/static/assets/js/vendor/modernizr-3.5.0.min.js"></script>
        <script src="/static/assets/js/vendor/jquery-3.6.0.min.js"></script>
        <script src="/static/assets/js/popper.min.js"></script>
        <script src="/static/assets/js/bootstrap.min.js"></script>
        <script src="/static/assets/js/slick.min.js"></script>
        <script src="/static/assets/js/ajax-form.js"></script>
        <script src="/static/assets/js/paroller.js"></script>
        <script src="/static/assets/js/wow.min.js"></script>
        <script src="/static/assets/js/js_isotope.pkgd.min.js"></script>
        <script src="/static/assets/js/imagesloaded.min.js"></script>
        <script src="/static/assets/js/parallax.min.js"></script>
        <script src="/static/assets/js/jquery.waypoints.min.js"></script>
        <script src="/static/assets/js/jquery.counterup.min.js"></script>
        <script src="/static/assets/js/jquery.scrollUp.min.js"></script>
        <script src="/static/assets/js/jquery.meanmenu.min.js"></script>
        <script src="/static/assets/js/parallax-scroll.js"></script>
        <script src="/static/assets/js/jquery.magnific-popup.min.js"></script>
        <script src="/static/assets/js/element-in-view.js"></script>
        <script src="/static/assets/js/main.js"></script>
    </body>


</html>